name: Swift

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    name: Swift ${{ matrix.swift }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04, macos-14, macos-15, macos-26]
        swift: ["6.2"]

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Swift
        uses: swift-actions/setup-swift@v3
        with:
          swift-version: ${{ matrix.swift }}
      - name: Confirm Swift version
        run: swift --version
      - name: Build
        run: swift build
      - name: Run tests
        run: swift test
